# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: tenki-local-ubuntu-22.04-small-2c-4g
    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: sleep 20
      
    - name: Print
      run: print 111
